{% extends "showroom/index.html" %} {% load static %} {% block content %}
<div id="admin_wrapper">
  <div id="admin_title">Utilisateurs</div>
  {% for user in users %}
  {% if user.is_superuser == False %}
  <ul>
      {% if user.is_active == True %}
    <span class="users">Utilisateur:<span class="user">{{user.username}} - activé</span>
    {% else %}
    <span class="users">Utilisateur:<span class="user">{{user.username}} - inactif</span>
    {% endif %}
    {% if user.is_active %}
    <span class="btn_grp">
    <a class="crud" href="{% url 'activate' user.id %}"><input class="user_valid" type="checkbox" checked></a>
    <a class="crud" href="{% url 'delete' user.id %}"><button class="user_delete">X</button></a></span></span>
    {% else %}
    <span class="btn_grp">
    <a class="crud" href="{% url 'activate' user.id %}"><input class="user_valid" type="checkbox"></a>
    <a class="crud" href="{% url 'delete' user.id %}"><button class="user_delete">X</button></a></span></span>
    {% endif %}
    <hr class="hr1" />
  </ul>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}
