{% extends "showroom/index.html" %}

{% block content %}
    <div id="loginwrapper">
        <div id="loginheader">
            <span class="title">Login</span>
        </div>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <input id="label" name="username" type="text" placeholder="Nom d'utilisateur" />
            <hr>

            <input id="label" name="password" type="password" placeholder="*********" />
            <hr>
            <button type="submit">Connexion</button>
            <a class="link" href="{% url 'register' %}">Créer un compte</a>
        </form>
    </div>
{% endblock %}