.passwordwrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 500px;
  margin-top: 25px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f1f4f7;
  box-shadow: rgb(0 0 0 / 25%) 0px 26px 30px -10px,
    rgb(0 0 0 / 50%) 0px 16px 10px -10px;
  z-index: 10;
}

#confirm {
    height: 550px !important;
}

.passwordwrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.passwordwrapper input {
  width: 90%;
  height: 64px;
  border: none;
  outline: none;
  color: #3a557c;
  font-family: "Share Tech Mono", monospace;
  font-size: 16px;
  letter-spacing: 3px;
  background-color: transparent !important;
}

.passwordwrapper ::placeholder {
  color: #3a557c;
  font-size: 16px;
  letter-spacing: 3px;
}

.passwordwrapper p {
  margin: 12px 25px 35px 25px ;
  text-align: justify;
  font-family: "Share Tech Mono", monospace;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
}

.password_label {
  width: 100%;

  
  margin: 10px  0 0 35px;
  color: #3a557c;
 
  font-family: "Share Tech Mono", monospace;
}

.passwordwrapper button {
  width: 60%;
  height: 64px;
  margin-top: 35px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-family: "Share Tech Mono", monospace;
  letter-spacing: 3px;
  background-color: rgba(58, 85, 124, 1);
  border-radius: 5px;
  cursor: pointer;
}

#passwordheader {
  width: 100%;
  height: 100px;
  background-color: rgba(58, 85, 124, 1);
  margin-bottom: 30px;
}

.title {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 40px;
  font-family: "Share Tech Mono", monospace;
  letter-spacing: 6px;
  text-align: center;
  justify-content: center;
}

.password_links_grp {
  display: flex;
  flex-direction: row;
}

.password_links_grp .link {
  margin: 10px 10px 0px 10px;
  text-decoration: none;
  color: #3a557c;
  font-size: 14px;
  font-family: "Share Tech Mono", monospace;
}

.password_links_grp .link:hover {
  text-decoration: underline;
}

#resetwrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 500px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f1f4f7;
  box-shadow: rgb(0 0 0 / 25%) 0px 26px 30px -10px,
    rgb(0 0 0 / 50%) 0px 16px 10px -10px;
  z-index: 10;
}

#resetwrapper *, .passwordwrapper * {
  font-family: "Share Tech Mono", monospace;
}

#resetheader {
  width: 100%;
  height: 100px;
  background-color: rgba(58, 85, 124, 1);
  margin-bottom: 30px;
}

#resetwrapper .title {
  font-size: 30px;
}

#resetwrapper p {
  margin: 12px 25px 35px 25px;
  text-align: justify;
  color: #3a557c;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
}

#resetwrapper a, .passwordwrapper a {
  position: absolute;
  bottom: 10px;
  font-size: 14px;
  text-decoration: none;
  color: #3a557c;
}

#resetwrapper a:hover, .passwordwrapper a:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {

  #passwordheader, #resetheader {
    height: 75px;
  }

  #passwordheader .title, #resetwrapper .title {
    font-size: 25px;
  }

  .passwordwrapper, #resetwrapper {
    width: 350px;
    height: 450px;
  }

  #confirm {
    height: 475px !important;
  }

  #resetwrapper p {
    font-size: 12px;
    line-height: 18px;
  }

  #resetwrapper a {
    font-size: 12px;
  }

  .passwordwrapper form p {
    font-size: 12px;
    line-height: 18px;
  }

  .passwordwrapper form a {
    font-size: 12px;
  }

  .passwordwrapper input {
    font-size: 14px;
  }

  .passwordwrapper form button {
    font-size: 16px;
    height: 50px;
    margin-top: 15px;
  }

  #id_email::placeholder {
    font-size: 14px;
  }

  #id_new_password1::placeholder, #id_new_password2::placeholder {
    font-size: 14px;
  }

}

@media (max-width: 400px) {

  #passwordheader, #resetheader {
    height: 50px;
  }

  #passwordheader .title, #resetwrapper .title {
    font-size: 20px;
  }

  .passwordwrapper, #resetwrapper {
    width: 275px;
    height: 400px;
  }

  #confirm {
    height: 395px !important;
  }

  #resetwrapper p {
    font-size: 10px;
    line-height: 14px;
  }

  #resetwrapper a {
    font-size: 10px;
  }

  .passwordwrapper form p {
    font-size: 10px;
    line-height: 14px;
  }

  .passwordwrapper p {
    margin: 5px 25px 15px 25px;
  }

  .passwordwrapper form a {
    font-size: 10px;
  }

  .passwordwrapper input {
    font-size: 12px;
  }

  .passwordwrapper form button {
    font-size: 14px;
    height: 40px;
    margin-top: 5px;
  }

  #id_email::placeholder {
    font-size: 12px;
  }

  #id_new_password1::placeholder, #id_new_password2::placeholder {
    font-size: 12px;
  }

}