{% extends "index/index.html" %}

{% block content %}
    <div id="loginwrapper">
        <div id="loginheader">
            <span class="title">Connexion</span>
        </div>
        <form action="{% url 'login' %}" method="POST" autocomplete="off">
            {% csrf_token %}
            <input class="label" name="username" type="text" placeholder="Nom d'utilisateur" autocomplete="off"/>
            <hr>

            <input class="label" name="password" type="password" placeholder="Mot de passe" autocomplete="off"/>
            <hr>
            <button type="submit">Connexion</button>

            <div class="login_links_grp">
            <a class="link" href="{% url 'register' %}">Créer un compte</a>
            <a class="link" href="{% url 'reset_password' %}">Mot de passe oublié?</a>
            </div>

        </form>
    </div>
{% endblock %}