{% extends "showroom/index.html" %}

{% block content %}
    <div id="loginwrapper">
        <div id="loginheader">
            <span class="title">Register</span>
        </div>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}            
            {{field}}
            <hr>
            {% endfor %}
            <button type="submit">Créer un compte</button>
            <a class="link" href="{% url 'login' %}">Connexion</a>
          </form>
    </div>
{% endblock %}