{% extends "index/index.html" %} 
{% load static %} 
{% block content %}

<div id="fiche_wrapper">  

    <div id="fiche_content">
        <div id="fiche_header">
        <div id="fiche_title">Fiche de chantier {{fiche.last_name}}</div>
        </div>

        <div id="row1">
            <div id="fiche_logo"></div>

            <div id="sub_row1_1">
                <div class="infos">Nom du client: <div class="infos_content">{{fiche.first_name}} {{fiche.last_name}}</div></div>
                <div class="infos">Adresse: <div class="infos_content"><a href="https://www.google.fr/maps/place/{{fiche.adress}},+{{fiche.post_code}}+{{fiche.city}}" target="_blank">{{fiche.adress}}</a></div></div>
                <div class="infos">Localité: <div class="infos_content">{{fiche.city}}</div></div>
                <div class="infos">Code postal: <div class="infos_content">{{fiche.post_code}}</div> Téléphone: <div class="infos_content"><a href="tel:{{fiche.phone}}">{{fiche.phone}}</a></div></div>
                <div class="infos">Commercial: <div class="infos_content"><a href="tel:{{fiche.owner.phone}}">{{fiche.owner.first_name}} {{fiche.owner.last_name}}</a></div></div>
                <div class="infos">Source: <div class="infos_content">{{fiche.source}}</div></div>
            </div>

            <div id="sub_row1_2">
                <div class="infos">N° devis: <div class="infos_content">{{fiche.invoice_number}}</div></div>            
                <div class="infos">Surface toiture: <div class="infos_content">{{fiche.area}}m²</div></div>
                <div class="infos">Nombre de pans: <div class="infos_content">{{fiche.roof}}</div></div>
                <div class="infos">Hauteur à la gouttière: <div class="infos_content">{{fiche.height}}m</div></div>
                <div class="infos">Degré de pente: <div class="infos_content">{{fiche.slant}}</div></div>
            </div>
        </div>

        <div id="row2">

            <div id="sub_row2_1">
                <div class="sub_title">Traitement de charpente</div>

                <div class="infos">Accès: <div class="infos_content">{{fiche.charpente_access}}</div></div>
                <div class="infos">Surface: <div class="infos_content">{{fiche.charpente_area}}</div></div>
                <div class="infos">Hauteur de flèche: <div class="infos_content">{{fiche.charpente_height}}</div></div>
                <div class="infos">Traitement: <div class="infos_content">{{fiche.charpente_job}}</div></div>                
                <div class="infos">Encombrement: <div class="infos_content">{{fiche.charpente_mess}}</div></div>
                <div class="infos">Plancher: <div class="infos_content">{{fiche.charpente_floor}}</div></div>
            </div>

            <div id="sub_row2_2">
                <div class="sub_title">Soufflage laine de roche</div>

                <div class="infos">Accès: <div class="infos_content">{{fiche.soufflage_access}}</div></div>
                <div class="infos">Surface: <div class="infos_content">{{fiche.soufflage_area}}</div></div>
                <div class="infos">Hauteur de flèche: <div class="infos_content">{{fiche.soufflage_height}}</div></div>
                <div class="infos">Débarras: <div class="infos_content">{{fiche.soufflage_trash}}</div></div>
                <div class="infos">Encombrement: <div class="infos_content">{{fiche.soufflage_mess}}</div></div>
                <div class="infos">Plancher: <div class="infos_content">{{fiche.soufflage_floor}}</div></div>

            </div>

            <div id="sub_row2_3">
                <div class="sub_title">Thermoréflexion</div>

                <div class="infos">Accès: <div class="infos_content">{{fiche.thermo_access}}</div></div>
                <div class="infos">Surface: <div class="infos_content">{{fiche.thermo_area}}</div></div>
                <div class="infos">Hauteur de flèche: <div class="infos_content">{{fiche.thermo_height}}</div></div>
                <div class="infos">Débarras: <div class="infos_content">{{fiche.thermo_trash}}</div></div>
                <div class="infos">Encombrement: <div class="infos_content">{{fiche.thermo_mess}}</div></div>
                <div class="infos">Plancher: <div class="infos_content">{{fiche.thermo_floor}}</div></div>

            </div>

            <div id="sub_row2_4">
                <div class="sub_title">Isolation rampants</div>

                <div class="infos">Accès: <div class="infos_content">{{fiche.isol_access}}</div></div>
                <div class="infos">Surface: <div class="infos_content">{{fiche.isol_area}}</div></div>
                <div class="infos">Hauteur de flèche: <div class="infos_content">{{fiche.isol_height}}</div></div>
                <div class="infos">Épaisseur: <div class="infos_content">{{fiche.isol_trash}}</div></div>
                <div class="infos">Encombrement: <div class="infos_content">{{fiche.isol_mess}}</div></div>
                <div class="infos">Plancher: <div class="infos_content">{{fiche.isol_floor}}</div></div>

            </div>

        </div>

        <div id="row3">

            <div id="sub_row3_1">
                <div class="sub_title">Hydrofuge</div>

                <div class="infos">Type: <div class="infos_content">{{fiche.hydro_type}}</div></div>
                <div class="infos">Surface: <div class="infos_content">{{fiche.hydro_area}}</div></div>
                <div class="infos">Toiture: <div class="infos_content">{{fiche.hydro_roof}}</div></div>
                <div class="infos">Couleur de la tuile: <div class="infos_content">{{fiche.hydro_color}}</div></div>
                <div class="infos">Modèle de la tuile: <div class="infos_content">{{fiche.hydro_model}}</div></div>

            </div>

            <div id="sub_row3_2">
                <div class="sub_title">Faîtage / Arrêtiers</div>

                <div class="infos">Toiture: <div class="infos_content">{{fiche.fait_roof}}</div></div>
                <div class="infos">Longueur: <div class="infos_content">{{fiche.fait_length}}</div></div>
                <div class="infos">Nombre de longueurs: <div class="infos_content">{{fiche.fait_length_num}}</div></div>
                <div class="infos">Couleur de la tuile: <div class="infos_content">{{fiche.fait_color}}</div></div>
                <div class="infos">Maçonnerie: <div class="infos_content">{{fiche.fait_masonry}}</div></div>              

            </div>

            <div id="sub_row3_3">
                <div class="sub_title">Remontées capillaires</div>

                <div class="infos">Accès: <div class="infos_content">{{fiche.cap_access}}</div></div>
                <div class="infos">Longueur: <div class="infos_content">{{fiche.cap_length}}</div></div>
                <div class="infos">Type de mur: <div class="infos_content">{{fiche.cap_type}}</div></div>
                <div class="infos">Couleur du mur: <div class="infos_content">{{fiche.cap_color}}</div></div>
                <div class="infos">Encombrement: <div class="infos_content">{{fiche.cap_mess}}</div></div>

            </div>

            <div id="sub_row3_4">
                <div class="sub_title">Étanchéité</div>

                <div class="infos">Type: <div class="infos_content">{{fiche.waterproof_type}}</div></div>
                <div class="infos">Toiture: <div class="infos_content">{{fiche.waterproof_roof}}</div></div>
                <div class="infos">Longueur: <div class="infos_content">{{fiche.waterproof_length}}</div></div>
                <div class="infos">Maçonnerie: <div class="infos_content">{{fiche.waterproof_masonry}}</div></div>
                <div class="infos">Nombre d'éléments: <div class="infos_content">{{fiche.waterproof_length_num}}</div></div>

            </div>

        </div>

        <div id="row4">
            <div id="sub_row4_1">
                <div class="sub_title">Informations complémentaires</div>

                <div class="infos"><div class="infos_content">{{fiche.infos}}</div></div>

            </div>

            <div id="fiche_btns_grp">
                <button class="fiche_btn" id="fiche_save"><a href="{% url 'save_fiche' fiche.id %}">Enregistrer</a></button>
                {% comment %} <button class="fiche_btn" id="fiche_send"><a href="{% url 'send_fiche' fiche.id %}">Envoyer</a></button> {% endcomment %}
                <button class="fiche_btn" id="fiche_print"><a href="{% url 'print_fiche' fiche.id %}">Imprimer</a></button>
            </div>

        </div>
    </div>    

</div>

{% endblock %}