{% extends "index/index.html" %} 
{% load static %} 
{% block content %}

<div id="fiches_wrapper">
    <div id="fiches_title">Fiches de chantier</div>
    <div id="fiches_search_bar">
        <button id="search_icon">
            <img src="{% static 'images/search-button.svg' %}">
        </button>
            <input id="search_bar_input" type="text" placeholder="Rechercher...">
    </div>

    <div id="fiches_content">

        <div class="fiches_wrap_c">
            <div id="icon_bg">✎</div>    
            <img id="thumb_bg" src="{% static 'images/doc-icon.png' %}">
            <a class="fiches_thumbnail" href="{% url 'create_fiche' %}">
                <div class="fiches_customer_c">Nouvelle fiche</div>                
            </a>     
        </div>

        {% for fiche in fiches reversed %}

    <div class="fiches_wrap">

        {% if user.is_superuser %}
        <a class="fiches_crud" href="{% url 'delete_fiche' fiche.id %}"><button class="fiche_delete">X</button></a>
        {% endif %}

        <img id="thumb_bg" src="{% static 'images/doc-icon.png' %}">
        <a class="fiches_thumbnail" href="{% url 'fiche_chantier' fiche.id %}">
            <div class="fiches_customer">{{fiche.last_name}}</div>
            <div class="fiches_created">{{fiche.created|date:'d-m-Y'}}                
            </div>
        </a>     
    </div>

        {% endfor %}
        
    </div>
</div>

{% comment %} <script type="text/javascript">
    //var inputElement = document.getElementsByClassName("fiche_delete")
    $(".fiches_crud").click(function(){
        if (confirm('Are you sure you want to save this thing into the database?')) {
            // Save it!
            console.log('Thing was saved to the database.');
          } else {
            // Do nothing!
            console.log('Thing was not saved to the database.');
          }
    });
</script> {% endcomment %}

{% endblock %}
