{% extends "index/index.html" %} 
{% load static %} 
{% block content %}

<div id="fiches_wrapper">

    {% include 'index/search_bar.html' %}

    <div id="fiches_content">

        <div class="fiches_wrap_c">
            <div id="icon_bg">✎</div>    
            <img id="thumb_bg" src="{% static 'images/doc-icon.png' %}">
            <a class="fiches_thumbnail" href="{% url 'create_fiche' %}">
                <div class="fiches_customer_c">Ajout</div>                
            </a>     
        </div>

        {% for fiche in fiches reversed %}

    <div class="fiches_wrap">

        {% if user.is_superuser %}
        <a class="fiches_crud" href="{% url 'delete_fiche' fiche.id %}"><button class="fiche_delete">X</button></a>
        {% endif %}

        <img id="thumb_bg" src="{% static 'images/doc-icon.png' %}">
        <a class="fiches_thumbnail" href="{% url 'fiche_chantier' fiche.id %}">
            <div class="fiches_customer">{{fiche.last_name}}</div>
            <div class="fiches_created">{{fiche.created|date:'d-m-Y'}}                
            </div>
        </a>     
    </div>

        {% endfor %}
        
    </div>

    {% include 'index/pagination.html' with queryset=fiches custom_range=custom_range %}
    
</div>

{% endblock %}
