{% extends "index/index.html" %} 
{% load static %} 
{% block content %}
<button id="toggle_full"></button>
<form action="{% url 'create_fiche' %}" method="POST">
    {% csrf_token %}
<div id="fiche_wrapper">  

    <div id="fiche_content">
        <div id="fiche_header">
        <div id="fiche_title">Fiche de chantier</div>
        </div>

        <div id="row1">
            <div id="fiche_logo"></div>

            <div id="sub_row1_1">
                <div class="infos">Nom du client: <div class="infos_content">{{form.last_name}}</div></div>
                <div class="infos">Prénom du client: <div class="infos_content">{{form.first_name}}</div></div>
                <div class="infos">Adresse: <div class="infos_content">{{form.adress}}</div></div>
                <div class="infos">Localité: <div class="infos_content">{{form.city}}</div></div>
                <div class="infos">Code postal: <div class="infos_content">{{form.post_code}}</div></div>
                <div class="infos">Téléphone: <div class="infos_content">{{form.phone}}</div></div>                
                <div class="infos">Source: <div class="infos_content">{{form.source}}</div></div>
            </div>

            <div id="sub_row1_2">
                <div class="infos">N° devis: <div class="infos_content">{{form.invoice_number}}</div></div>            
                <div class="infos">Surface toiture: <div class="infos_content">{{form.area}}</div></div>
                <div class="infos">Nombre de pans: <div class="infos_content">{{form.roof}}</div></div>
                <div class="infos">Hauteur à la gouttière: <div class="infos_content">{{form.height}}</div></div>
                <div class="infos">Degré de pente: <div class="infos_content">{{form.slant}}</div></div>
            </div>
        </div>

        <div id="row2">

            <div id="sub_row2_1">
                <div class="sub_title">Traitement de charpente</div>

                <div class="infos">Accès: <div class="infos_content">{{form.charpente_access}}</div></div>
                <div class="infos">Surface: <div class="infos_content">{{form.charpente_area}}</div></div>
                <div class="infos">Hauteur de flèche: <div class="infos_content">{{form.charpente_height}}</div></div>
                <div class="infos">Traitement: <div class="infos_content">{{form.charpente_job}}</div></div>                
                <div class="infos">Encombrement: <div class="infos_content">{{form.charpente_mess}}</div></div>
                <div class="infos">Plancher: <div class="infos_content">{{form.charpente_floor}}</div></div>
            </div>

            <div id="sub_row2_2">
                <div class="sub_title">Soufflage laine de roche</div>

                <div class="infos">Accès: <div class="infos_content">{{form.soufflage_access}}</div></div>
                <div class="infos">Surface: <div class="infos_content">{{form.soufflage_area}}</div></div>
                <div class="infos">Hauteur de flèche: <div class="infos_content">{{form.soufflage_height}}</div></div>
                <div class="infos">Débarras: <div class="infos_content">{{form.soufflage_trash}}</div></div>
                <div class="infos">Encombrement: <div class="infos_content">{{form.soufflage_mess}}</div></div>
                <div class="infos">Plancher: <div class="infos_content">{{form.soufflage_floor}}</div></div>

            </div>

            <div id="sub_row2_3">
                <div class="sub_title">Thermoréflexion</div>

                <div class="infos">Accès: <div class="infos_content">{{form.thermo_access}}</div></div>
                <div class="infos">Surface: <div class="infos_content">{{form.thermo_area}}</div></div>
                <div class="infos">Hauteur de flèche: <div class="infos_content">{{form.thermo_height}}</div></div>
                <div class="infos">Débarras: <div class="infos_content">{{form.thermo_trash}}</div></div>
                <div class="infos">Encombrement: <div class="infos_content">{{form.thermo_mess}}</div></div>
                <div class="infos">Plancher: <div class="infos_content">{{form.thermo_floor}}</div></div>

            </div>

            <div id="sub_row2_4">
                <div class="sub_title">Isolation rampants</div>

                <div class="infos">Accès: <div class="infos_content">{{form.isol_access}}</div></div>
                <div class="infos">Surface: <div class="infos_content">{{form.isol_area}}</div></div>
                <div class="infos">Hauteur de flèche: <div class="infos_content">{{form.isol_height}}</div></div>
                <div class="infos">Épaisseur: <div class="infos_content">{{form.isol_trash}}</div></div>
                <div class="infos">Encombrement: <div class="infos_content">{{form.isol_mess}}</div></div>
                <div class="infos">Plancher: <div class="infos_content">{{form.isol_floor}}</div></div>

            </div>

        </div>

        <div id="row3">

            <div id="sub_row3_1">
                <div class="sub_title">Hydrofuge</div>

                <div class="infos">Type: <div class="infos_content">{{form.hydro_type}}</div></div>
                <div class="infos">Surface: <div class="infos_content">{{form.hydro_area}}</div></div>
                <div class="infos">Toiture: <div class="infos_content">{{form.hydro_roof}}</div></div>
                <div class="infos">Couleur de la tuile: <div class="infos_content">{{form.hydro_color}}</div></div>
                <div class="infos">Modèle de la tuile: <div class="infos_content">{{form.hydro_model}}</div></div>

            </div>

            <div id="sub_row3_2">
                <div class="sub_title">Faîtage / Arrêtiers</div>

                <div class="infos">Toiture: <div class="infos_content">{{form.fait_roof}}</div></div>
                <div class="infos">Longueur: <div class="infos_content">{{form.fait_length}}</div></div>
                <div class="infos">Nombre de longueurs: <div class="infos_content">{{form.fait_length_num}}</div></div>
                <div class="infos">Couleur de la tuile: <div class="infos_content">{{form.fait_color}}</div></div>
                <div class="infos">Maçonnerie: <div class="infos_content">{{form.fait_masonry}}</div></div>              

            </div>

            <div id="sub_row3_3">
                <div class="sub_title">Remontées capillaires</div>

                <div class="infos">Accès: <div class="infos_content">{{form.cap_access}}</div></div>
                <div class="infos">Longueur: <div class="infos_content">{{form.cap_length}}</div></div>
                <div class="infos">Type de mur: <div class="infos_content">{{form.cap_type}}</div></div>
                <div class="infos">Couleur du mur: <div class="infos_content">{{form.cap_color}}</div></div>
                <div class="infos">Encombrement: <div class="infos_content">{{form.cap_mess}}</div></div>

            </div>

            <div id="sub_row3_4">
                <div class="sub_title">Étanchéité</div>

                <div class="infos">Type: <div class="infos_content">{{form.waterproof_type}}</div></div>
                <div class="infos">Toiture: <div class="infos_content">{{form.waterproof_roof}}</div></div>
                <div class="infos">Longueur: <div class="infos_content">{{form.waterproof_length}}</div></div>
                <div class="infos">Maçonnerie: <div class="infos_content">{{form.waterproof_masonry}}</div></div>
                <div class="infos">Nombre d'éléments: <div class="infos_content">{{form.waterproof_length_num}}</div></div>

            </div>

        </div>

        <div id="row4">
            <div id="sub_row4_1">
                <div class="sub_title">Informations complémentaires</div>

                <div class="infos"><div class="infos_content">{{form.infos}}</div></div>

            </div>

            <div id="fiche_btns_grp">
                <button class="fiche_btn" type="submit" id="fiche_save">Valider</button>
            </div>

        </div>

            </div>    

</div>
</form>

<script type="text/javascript">

    let toggle = false;
        
        $('#toggle_full').click(function(){
            if (toggle == false) {
                toggle = true;
                $('#header').css('transform', 'translateY(-75px)');
                $('#footer').css('transform', 'translateY(25px)');
                $('#toggle_full').css('top', '20px');
                $('#fiche_wrapper').css('transform', 'translateY(-37.5px) scale(1.1)');
            } else {
                toggle = false;
                $('#header').css('transform', 'translateY(0px)');
                $('#footer').css('transform', 'translateY(0px)');
                $('#toggle_full').css('top', '100px');
                $('#fiche_wrapper').css('transform', 'translateY(0px) scale(1)');
            }
        })
            
    </script>

{% endblock %}