{% extends "index/index.html" %} 
{% load static %} 
{% block content %}

<div id="clients_wrapper">

    {% include 'index/search_bar.html' %}

    <div id="clients_content">

        {% comment %} <div class="fiches_wrap_c">
            <div id="icon_bg">✎</div>    
            <img id="thumb_bg" src="{% static 'images/doc-icon.png' %}">
            <a class="fiches_thumbnail" href="{% url 'create_client' %}">
                <div class="fiches_customer_c">Ajout</div>                
            </a>     
        </div> {% endcomment %}
        
        {% for client in clients %}

        {% if forloop.counter|divisibleby:2 %}

        <div class="client_line">
            <div class="client_infos">{{client.last_name}}</div>                
        </div>
            <div class="client_details">

        {% else %}

        <div class="client_line pair">
            <div class="client_infos">{{client.last_name}}</div>                
        </div>
            <div class="client_details pair">

                {% endif %}

                <div class="client_details_content">
                    <ul>
                        <li><span>Nom: </span>{{client.first_name}} {{client.last_name}}</li>
                        <li><span>Adresse: </span>{{client.adress}}</li>
                        <li><span>Ville: </span>{{client.post_code}} {{client.city}}</li>
                        <li><span>N° de téléphone: </span>{{client.phone}}</li>
                        {% if client.email%}
                        <li><span>Adresse e-mail: </span>{{client.email}}</li>
                        {% endif %}
                        <li><span>Date de naissance: </span>{{client.birth_date}}</li>
                    </ul>
                </div>
            </div>
                </br>

    

        


        

        {% endfor %}
    </div>
</div>

{% endblock %}
