{% extends "index/index.html" %} 
{% load static %} 
{% block content %}

<div id="clients_wrapper">

    {% include 'index/search_bar.html' %}

    <div id="clients_content">

        {% comment %} <div class="fiches_wrap_c">
            <div id="icon_bg">✎</div>    
            <img id="thumb_bg" src="{% static 'images/doc-icon.png' %}">
            <a class="fiches_thumbnail" href="{% url 'create_client' %}">
                <div class="fiches_customer_c">Ajout</div>                
            </a>     
        </div> {% endcomment %}
        
        {% for client in clients %}

        {% if forloop.counter|divisibleby:2 %}

        <div class="client_line">
            <div class="client_infos">{{client.last_name}}</div>                
        </div>
            <div class="client_details">
                <div class="client_details_content">
                    {{client.first_name}} {{client.last_name}}</br>
                    {{client.adress}}</br>
                    {{client.post_code}} {{client.city}}</br>
                    {{client.phone}}</br>
                    {{client.birth_date}}
                </div>
            </div>
                </br>

        {% else %}

        <div class="client_line pair">
            <div class="client_infos">{{client.last_name}}</div>                
        </div>
            <div class="client_details pair">
                <div class="client_details_content">
                    {{client.first_name}} {{client.last_name}}</br>
                    {{client.adress}}</br>
                    {{client.post_code}} {{client.city}}</br>
                    {{client.phone}}</br>
                    {{client.birth_date}}
                </div>
            </div>
                </br>


        {% endif %}

        {% endfor %}
    </div>
</div>

<script>
let panel = true;

    $(".client_line").on("click", function () {
        if (panel) {
            panel = false;
          $(".client_details").slideUp(500);
        } else {
            panel = true;
          $(".client_details").slideDown(500);
        }
      });

</script>

{% endblock %}
