{% extends "index/index.html" %} 
{% load static %} 
{% block content %}

<div id="clients_wrapper">

    {% include 'index/search_bar.html' %}

    <a class="add_client" href="{% url 'create_client' %}">Ajouter un client</a>

    <div id="clients_content">
        
        {% for client in clients %}

        {% if forloop.counter|divisibleby:2 %}
        <div class="client_line">
        {% else %}
        <div class="client_line pair">
        {% endif %}
            <div class="client_infos">- {{client.last_name}} <span>N°:{{client.id}}</span></div>
        
                {% if user.is_superuser %}
                <div class="client_crud_grp">
                    <a class="client_crud" href="{% url 'edit_client' client.id %}"><button class="client_edit">✎</button></a>
                    <a class="client_crud" href="{% url 'confirm_client' client.id %}"><button class="client_delete">X</button></a>
                </div>          
                {% endif %}      
        </div>

            <div class="client_details">

                <div class="client_details_grid">

                    <div class="client_details_content_1">
                        <ul>
                            <li><span>Nom: </span>{{client.first_name}} {{client.last_name}}</li>
                            <li><span>Adresse: </span>{{client.adress}}</li>
                            <li><span>Ville: </span>{{client.post_code}} {{client.city}}</li>
                            <li><span>N° de téléphone: </span>{{client.phone}}</li>
                            {% if client.email%}
                            <li><span>Adresse e-mail: </span>{{client.email}}</li>
                            {% endif %}
                            <li><span>Date de naissance: </span>{{client.birth_date}}</li>
                        </ul>
                    </div>

                    <div class="client_details_content_2">
                        <ul>
                            <li><a class="client_items" href="/devis/?search_query={{client.last_name}}#">Devis associés</a></li>
                            <li><a class="client_items" href="/factures/?search_query={{client.last_name}}#">Factures associées</a></li>
                            <li><a class="client_items" href="/fiches/?search_query={{client.last_name}}#">Fiches associées</a></li>                              
                        </ul>
                    </div>

                </div>  
            </div>
                </br>

        {% endfor %}
    </div>

    {% include 'index/pagination.html' with queryset=clients custom_range=custom_range %}

</div>

{% endblock %}
