{% extends "index/index.html" %}
{% load static %}

{% block content %}
    <div id="showcase">

        <div id="content">

            <div class="wrap" id="th_2">
                <span class="wrap_title" id="wrap_title_2">Fiches de chantier</span>
                <div class="fiche_icon_bg" id="fiche_icon_bg_2">✎</div> 
                <a class="thumbnail" href="{% url 'fiches' %}"><img class="showroom_thumb" src="{% static 'images/doc-icon.png' %}" alt="" /></a>
            </div>

            <div class="wrap" id="th_1">
                <span class="wrap_title" id="wrap_title_1">Devis</span>
                <div class="fiche_icon_bg" id="fiche_icon_bg_1">✎</div> 
                <a class="thumbnail" href="{% url 'devis' %}"><img class="showroom_thumb" src="{% static 'images/doc-icon.png' %}" alt="" /></a>
            </div>  

            <div class="wrap" id="th_3">
                <span class="wrap_title" id="wrap_title_3">Factures</span>
                <div class="fiche_icon_bg" id="fiche_icon_bg_3">✎</div> 
                <a class="thumbnail" href="#{% comment %} {% url 'factures' %} {% endcomment %}"><img class="showroom_thumb" src="{% static 'images/doc-icon.png' %}" alt="" /></a>
            </div>

            <div class="wrap" id="th_4">
                <span class="wrap_title" id="wrap_title_4">Clients</span>
                <div class="fiche_icon_bg" id="fiche_icon_bg_4">✎</div> 
                <a class="thumbnail" href="{% url 'clients' %}"><img class="showroom_thumb" src="{% static 'images/doc-icon.png' %}" alt="" /></a>
            </div>

        </div>

    </div>
{% endblock %}