<div id="prompt_container">

    <div id="prompt_wrapper">


        <div id="prompt_title">
            Êtes-vous sûr?
            <button id="prompt_close" onclick="prompt_close()">X</button>
        </div>

        <div id="prompt_text">Voulez-vous vraiment supprimer cet élément?</br></br>
            Cette action est <u>irréversible</u>.</div>

        <div id="prompt_btn_grp">

            <button class="prompt_action" id="prompt_deny" onclick="prompt_close()">Annuler</button>
            <button class="prompt_action" id="prompt_confirm"><a href="">Supprimer</a></button>

        </div>
    </div>

</div>