{% extends "index/index.html" %}

{% block content %}
    <div class="passwordwrapper">
        <div id="passwordheader">
            <span class="title">Mot de passe</span>
        </div>
        <form action="{% url 'reset_password' %}" method="POST">
            {% csrf_token %}

            <p>Vous avez oublié votre mot de passe? Entrez votre adresse email ci-dessous, et nous vous enverrons des instructions pour en définir un nouveau.</p>

            <input type="email" name="email" autocomplete="email" placeholder="Adresse e-mail" maxlength="254" required="" id="id_email">
            <hr>

            <button type="submit">Réinitialiser</button>
            <a href="{% url 'home' %}">Retour</a>

            

        </form>
    </div>
{% endblock %}