{% extends "index/index.html" %}

{% block content %}
    <div class="passwordwrapper" id="confirm">
        <div id="passwordheader">
            <span class="title">Mot de passe</span>
        </div>

        <form  method="POST">
            {% csrf_token %}

            <p>Merci d'entrer puis de confirmer votre nouveau mot de passe.</p>

            <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" placeholder="Mot de passe">
            <hr>

            <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="Confirmer mot de passe">
            <hr>
            <button type="submit">Changer mon mot de passe</button>

           

        </form>
    </div>
{% endblock %}