{% extends "index/index.html" %} 
{% load static %} 
{% block content %}
<div id="admin_wrapper">
{% include "dashboard/admin_navbar.html" %}
  <table id="users_list">
    <tr id="users_header">
    <td class="user_id">Id</td>
    <td class="user_user">Utilisateur</td>    
    <td class="user_fname">Prénom</td>
    <td class="user_lname">Nom</td>
    <td class="user_phone">Téléphone</td>
    <td class="user_mail">E-mail</td>
    <td class="user_role">Rôle</td>
    <td class="user_status">Status</td>
    <td class="user_actions">Actions</td>
    </tr>
  
  {% for user, profile in group  %} 

  {% if user.is_superuser == True %}

  {% if forloop.counter|divisibleby:2 %}
  <tr class="user_bg_1">
    {% else %}
    <tr class="user_bg_2">
      {% endif %}
    <td class="user_id">{{forloop.counter}}</td>
    <td class="user_user">{{profile.username}}</td>    
    <td class="user_fname">{{profile.first_name}}</td>
    <td class="user_lname">{{profile.last_name}}</td> 
    <td class="user_phone"><a href="tel:0631224313">{{profile.phone}}</a></td>   
    <td class="user_mail"><a href="mailto:{{profile.email}}">{{profile.email}}</a></td>
    
    <td class="user_role">{{profile.role}}</td>
      

    <td class="user_status">{% if user.is_active == True %}
      activé
      {% else %}
      inactif
      {% endif %}
    </td>

    
    <td class="user_actions">
  <span class="btn_grp">
  <a class="crud" href="{% url 'activate' user.id %}"><button class="user_valid_btn">{% if user.is_active %}✔{% else %}{% endif %}</button></a>
  <a class="crud" href="{% url 'delete' user.id %}"><button class="user_delete">X</button></a></span></span>
  </td>
    </tr>  
  {% endif %}
  {% endfor %}
</table>



</div>


<script type="text/javascript">
  
    $('.user_role').on('change', function() {
      document.forms['role_submit'].submit();
        console.log('submit');
    });

</script>
  {% endblock %}
