.header_link {
  margin: 0 10px 0 10px;
  color: #fff;
  font-family: "Share Tech Mono", monospace;
  text-decoration: none;
}

.thumbnail {
  width: inherit;
  height: inherit;
}

.showroom_thumb {
  position: absolute;
  width: inherit;
  height: inherit;
  object-fit: cover;
  margin-top: 15px;
  opacity: 0.15;
}

#th_1 {
  box-shadow: inset 0px 0px 0px 2px #3a557c, rgb(0 0 0 / 25%) 0px 26px 30px -10px,
    rgb(0 0 0 / 50%) 0px 16px 10px -10px;
}

#fiche_icon_bg_1 {
  color: #3a557c;
}

#wrap_title_1 {
  color: #3a557c;
}

#th_2 {
  box-shadow: inset 0px 0px 0px 2px #427C3A, rgb(0 0 0 / 25%) 0px 26px 30px -10px,
    rgb(0 0 0 / 50%) 0px 16px 10px -10px;
}

#fiche_icon_bg_2 {
  color: #427C3A;
}

#wrap_title_2 {
  color: #427C3A;
}

#th_3 {
  box-shadow: inset 0px 0px 0px 2px #AF5F1D, rgb(0 0 0 / 25%) 0px 26px 30px -10px,
    rgb(0 0 0 / 50%) 0px 16px 10px -10px;
}

#fiche_icon_bg_3 {
  color: #AF5F1D;
}

#wrap_title_3 {
  color: #AF5F1D;
}

#th_4 {
  box-shadow: inset 0px 0px 0px 2px #808080, rgb(0 0 0 / 25%) 0px 26px 30px -10px,
    rgb(0 0 0 / 50%) 0px 16px 10px -10px;
}

#fiche_icon_bg_4 {
  color: #808080;
}

#wrap_title_4 {
  color: #808080;
}

#th_1:after {
  content: "";
  position: absolute;
  margin: 250px;
  width: 160px;
  height: 160px;
  transform: rotate(-45deg);
  background-color: #3a557c;
}

#th_2:after {
  content: "";
  position: absolute;
  margin: 250px;
  width: 160px;
  height: 160px;
  transform: rotate(-45deg);
  background-color: #427C3A;
}

#th_3:after {
  content: "";
  position: absolute;
  margin: 250px;
  width: 160px;
  height: 160px;
  transform: rotate(-45deg);
  background-color: #AF5F1D;
}

#th_4:after {
  content: "";
  position: absolute;
  margin: 250px;
  width: 160px;
  height: 160px;
  transform: rotate(-45deg);
  background-color: #808080;
}