#devis_c_wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 75px;
    overflow-y: scroll;
}

#devis_c_wrapper * {
    font-family: "Share Tech Mono", monospace;
}

#devis_c_header {
    position: absolute;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#devis_c_content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 707px !important;
    height: 1000px !important;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    background: linear-gradient(155deg, rgba(58, 85, 124, 0.25) 0%, rgba(255, 255, 255, 1) 100%), linear-gradient(155deg, rgba(247, 167, 93, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: fill;
    box-shadow: rgb(0 0 0 / 25%) 0px 26px 30px -10px,
        rgb(0 0 0 / 50%) 0px 16px 10px -10px;
    overflow: hidden;
}

#devis_c_ref {
    width: 100%;
}

#devis_c_title {
    position: absolute;
    top: 2em;
    left: 2em;
    font-size: 25px;
    
}

#company_logo {
    position: absolute;
    top: 2em;
    right: 2em;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

hr.devis_c_hr {
    position: absolute;
    top: 6.5em;
    left: 50%;
    width: 60%;
    height: 5px;
    border-color: #000 !important;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.55;
    transform: translateX(-50%) scaleY(0.5);
}

#dhr2 {
    top: 21em;
}

#dhr3 {
    top: 97%;
    width: 80%;
}

#company_infos {
    position: absolute;
    top: 11em;
    left: 3em;
    font-size: 12px;
    font-style: italic;
    text-align: left;
    line-height: 1.25em;
}

#company_name {
    font-weight: 700;
    margin-bottom: 0.25em;
}

#devis_c_infos {
    position: absolute;
    top: 14em;
    left: 2em;
    width: 250px;
    height: 5em;
    padding-left: 0.25em;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.025);
}

#devis_c_date, #devis_c_valid {
    width: 20em;
}

#devis_c_commercial {
    margin-top: 3px;
}

#devis_c_commercial a {
    color: #3a557c;
    text-decoration: none;
}

#devis_c_commercial a:hover {
    text-decoration: underline;
}

#client_infos {
    position: absolute;
    top: 14em;
    right: 2em;
    width: 240px;
    height: 5em;
    padding-left: 0.25em;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.025);
}

.devis_c_content {
    font-size: 12px !important;
    text-align: left;
    background-color: transparent;
    border: none;
    outline: none;
}

hr.table_hr {
    position: relative;
    top: 7.5em;
    left: 50%;
    width: 60%;
    height: 5px;
    border-color: #000 !important;
    opacity: 0.25;
    transform: translateX(-50%) scaleY(2);
}

.items {
    position: absolute;
    top: 27em;
    left: 50%;
    width: 90%;
    font-size: 13px;
    text-align: center;
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    transform: translateX(-50%);
}

.items_list, #next {
    position: relative;
    top: 29.25em;
    margin-top: 1em;
    left: 50%;
    width: 90%;
    height: 2em;
    font-size: 13px;
    text-align: center;
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    transform: translateX(-50%);
}

/* .items_list ::placeholder, .items_list2 ::placeholder, .items_list3 ::placeholder, .items_list4 ::placeholder, .items_list5 ::placeholder, .items_list6 ::placeholder, .items_list7 ::placeholder, .items_list8 ::placeholder, .items_list9 ::placeholder, .items_list10 ::placeholder {    
    color: #3a557c;
} */

.items_content {
    position: absolute;
    top: -0.25em;
    width: 3em;
    font-size: 10px;
    border: none;
    outline: none;
    background-color: transparent;
}

#product, #product2, #product3, #product4, #product5, #product6, #product7, #product8, #product9, #product10 {
    margin-left: -2.5em;
    width: 6.5em;
}

#quant, #quant2, #quant3, #quant4, #quant5, #quant6, #quant7, #quant8, #quant9, #quant10 {
    margin-left: -1.2em;
    width: 4.75em;
}

#unit, #unit2, #unit3, #unit4, #unit5, #unit6, #unit7, #unit8, #unit9, #unit10 {
    margin-left: -2em;
    width: 3em;
}

#unit_price, #unit_price2, #unit_price3, #unit_price4, #unit_price5, #unit_price6, #unit_price7, #unit_price8, #unit_price9, #unit_price10 {
    margin-left: -4em;
    width: 9em;
}

#tva_margin, #tva_margin2, #tva_margin3, #tva_margin4, #tva_margin5, #tva_margin6, #tva_margin7, #tva_margin8, #tva_margin9, #tva_margin10 {
    margin-left: 0.5em;
    width: 3em;
}

#tva_total, #tva_total2, #tva_total3, #tva_total4, #tva_total5, #tva_total6, #tva_total7, #tva_total8, #tva_total9, #tva_total10 {
    margin-left: -2.6em;
    width: 5.5em;
}

#total_price, #total_price2, #total_price3, #total_price4, #total_price5, #total_price6, #total_price7, #total_price8, #total_price9, #total_price10 {
    margin-left: -2.5em;
    width: 5.5em;
}

#add_line {
    position: absolute;
    top: 29.25em;
    left: 1em;
    color: rgba(0, 0, 0, 0.35);
    background-color: transparent;
    transform: scale(2);
    border: none;
    cursor: pointer;
}

#remove_line {
    position: absolute;
    top: 26.31em;
    left: 1em;
    color: rgba(0, 0, 0, 0.35);
    background-color: transparent;
    transform: scale(2);
    visibility: hidden;
    border: none;
    cursor: pointer;
}

#signa {
    position: absolute;
    width: 20em;
    height: 5em;
    bottom: 4em;
    right: 2em;
    padding-top: 0.5em;
    padding-left: 0.5em;
    font-size: 12px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.025);
}

#prices_title {
    position: absolute;
    bottom: 8em;
    right: 12.5em;
    text-align: right;
}

#prices_value {
    position: absolute;
    bottom: 8em;
    right: 2em;
    text-align: left;
}

.price {
    font-size: 13px;
}

#total_ttc, #total {
    font-weight: 700;
}

#btns_container {
    position: fixed;
    width: 29.65em;
    left: 50%;
    bottom: 2em;
    margin-left: 7em;
    transform: translateX(-50%);
}

.devis_c_btn {
    position: relative;
    height: 3em;
    width: 8em;
    padding: 1em;
    border-radius: 8px;
    background-color: rgba(120, 120, 120, 0.9);
    box-shadow: 0px 6px 12px rgb(0 0 0 / 20%);
    transition: 0.4s;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
    z-index: 1;
}

#save {
    background-color: rgba(50, 150, 50, 0.75);
}

#save:hover {
    background-color: rgba(50, 150, 50, 0.9);
    filter: contrast(1.5);
}

#store {
    background-color: rgba(150, 150, 50, 0.75);
}

#store:hover {
    background-color: rgba(150, 150, 50, 0.9);
}

#send {
    background-color: rgba(50, 50, 150, 0.75);
}

#send:hover {
    background-color: rgba(50, 50, 150, 0.9);
    filter: contrast(1.5);
}

#erase {
    background-color: rgba(150, 50, 50, 0.75);
}

#erase:hover {
    background-color: rgba(150, 50, 50, 0.9);
    filter: contrast(1.5);
}


#devis_c_btns_grp {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.devis_c_btn {
    position: relative;
    height: 40px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    margin: 0px 10px 0px 10px;
    padding: 0px 10px 0px 10px;
    letter-spacing: 3px;
    cursor: pointer;
    border-radius: 4px;
    opacity: 0.25;
    transition: 350ms all;
}

.devis_c_btn a {
    text-decoration: none;
    color: #fff;
}

.devis_c_btn:hover {
    transform: scale(1.05);
    opacity: 1;
}

#devis_c_save {
    background-color: rgba(66, 124, 58, 1);
}

#devis_c_send {
    background-color: rgba(58, 85, 124, 1);
}

#devis_c_print {
    background-color: rgb(175, 95, 29);
}

#devis_c_background {
    position: absolute;
    width: 100%;
    bottom: 0px;
    opacity: 0.15;
    transform: rotateZ(-49deg) scale(2.6);
    filter: hue-rotate(-45deg);
    pointer-events: none;
}

/* @media (max-width: 1400px) {
        
    #devis_c_content {
        transform: translate(-50%, -50%) scale(0.75);
    }
}

@media (max-width: 1000px) {
    
    #devis_c_content {
        transform: translate(-50%, -50%) scale(0.75);
    } 
    
}

@media (max-width: 800px) {
    
    #devis_c_content {
        transform: translate(-50%, -50%) scale(0.7) rotateZ(-90deg);
    }
    
}

@media (max-width: 750px) {
    #devis_c_content {
        transform: translate(-50%, -50%) scale(0.4) rotateZ(-90deg);
    }
}

@media (max-width: 650px) {
    
    #devis_c_content {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }   

}

@media (max-width: 500px) {
    
    #devis_c_content {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }   
} */