#fiche_wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 75px;
    overflow-y: scroll;
}

#fiche_header {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: #3a557c;
}

#fiche_title {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 10px;
    color: #ffffff;
    font-family: "Share Tech Mono", monospace;
}

#fiche_content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 950px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 25%) 0px 26px 30px -10px,
        rgb(0 0 0 / 50%) 0px 16px 10px -10px;
    overflow: hidden;
    background: linear-gradient(155deg, rgba(58, 85, 124, 0.25) 0%, rgba(255, 255, 255, 1) 100%),linear-gradient(155deg, rgba(247, 167, 93, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}

#fiche_content:after {
    content: "";
    position: absolute;
    right: -100px;
    bottom: -100px;
    width: 200px;
    height: 200px;
    transform: rotate(-45deg);
    background-color: #3a557c;
    z-index: 100 !important;
}

#row1, #row2, #row3, #row4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 260px;
    padding-top: 30px;
}

#row2, #row3, #row4 {
    box-shadow: inset 0px 40px 0px 0px rgba(255, 255, 255, 0.25);
    margin-top: 20px;
    padding-top: 8px;           
}

#row3 {
    margin-top: -10px;
}

#row4 {
    margin-top: -40px;
    height: 100px;
    overflow: hidden;
}

#fiche_logo {
    width: 200px;
    height: 200px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.25);
}

#sub_row1_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 200px;
    margin-top: 40px;
}

#sub_row1_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 200px;
    margin-top: 40px;
}

#sub_row4_1 {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

#sub_row4_1 .sub_title {
    margin-bottom: 20px;
}

#sub_row4_1 .infos_content {
    width: 1030px;
    display: flex;
    text-align: justify;
    align-items: flex-start;
}

#sub_row2_1, #sub_row2_2, #sub_row2_3, #sub_row2_4, #sub_row3_1, #sub_row3_2, #sub_row3_3, #sub_row3_4 {
    width: 250px;
    height: 200px;    
}

.sub_title {
    width: 100%;
    height: 35px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: #3a557c;
    font-family: "Share Tech Mono", monospace;
    text-decoration: underline;
    margin-bottom: 10px;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    text-decoration-color: rgba(58, 85, 124, 0.55);
    filter: saturate(1.5);
}

.infos {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: #3a557c;
    font-family: "Share Tech Mono", monospace;
    padding: 5px;
}

.infos_content {
    font-size: 12px;
    line-height: 19px;
    padding-right: 5px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.85);
}

.infos_content a {
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
}

.infos_content a:hover {
    text-decoration: underline;
}

#fiche_btns_grp {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);    
}

.fiche_btn {
    height: 40px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    margin: 0px 10px 0px 10px;
    padding: 0px 10px 0px 10px;
    font-family: "Share Tech Mono", monospace;
    letter-spacing: 3px;
    cursor: pointer;
    border-radius: 4px;
    opacity: 0.25;
    transition: 350ms all;
}

.fiche_btn:hover {
    transform: scale(1.05);
    opacity: 1;
}

#fiche_save {
    background-color: rgba(66, 124, 58, 1);
}

#fiche_send {
    background-color: rgba(58, 85, 124, 1);
}

#fiche_print {
    background-color: rgb(175, 95, 29);
}

#fiche_background {
    position: absolute;
    bottom: -250px;
    right: -50px;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    opacity: 0.25;
    transform: rotateZ(-25deg) scaleX(1.25) scaleY(1.65);
    filter: hue-rotate(-45deg);
}

@media (max-width: 1400px) {
        
    #fiche_content {
        transform: translate(-50%, -50%) scale(0.75);
    }
}

@media (max-width: 1000px) {
    
    #fiche_content {
        transform: translate(-50%, -50%) scale(0.75);
    } 
    
}

@media (max-width: 800px) {
    
    #fiche_content {
        transform: translate(-50%, -50%) scale(0.75) rotateZ(-90deg);
    }
    
}

@media (max-width: 750px) {
    #fiche_content {
        transform: translate(-50%, -50%) scale(0.5) rotateZ(-90deg);
    }
}

@media (max-width: 650px) {
    
    #fiche_content {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }   

}

@media (max-width: 500px) {
    
    #fiche_content {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }   
}