#header {
  position: fixed;
  width: 100%;
  top: 0;
  height: 75px;
  background-color: rgba(58, 85, 124, 1);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.35);
  color: #fff;
  z-index: 100;
}

.nav_title {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 24px;
  font-family: "Share Tech Mono", monospace;
  letter-spacing: 6px;
  text-align: center;
  justify-content: center;
}

#home {
  position: absolute;
  top: 50px;
  left: 5px;
  width: 50px;
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  color: #fff;
  font-family: "Share Tech Mono", monospace;
  text-decoration: none;
}

#links_group {
  position: absolute;
  top: 50px;
  right: 5px;
  width: 50px;
  display: flex;
  justify-content: flex-end;
}

.header_link {
  margin-right: 10px;
  color: #fff;
  font-family: "Share Tech Mono", monospace;
  text-decoration: none;
}

#home:hover, .header_link:hover {
  text-decoration: underline;
}

@media (max-width: 750px) {
  .nav_title {
    font-size: 20px;
  }

  .header_link a {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .nav_title {
    font-size: 16px;
    margin-top: -10px;    
  }
}