#messages_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 75px;
  overflow-y: auto;
}

#messages_content * {
  font-family: "Share Tech Mono", monospace;
}

#messages_link {
  position: relative;
  width: 90%;
  left: 50%;
  margin: 20px 0 50px 0;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  font-size: 14px;
  justify-content: space-between;
  z-index: 100;
}



#new_message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 35px !important;
  font-size: 18px;
  margin-right: -30px;
  margin-top: 0px !important;
  border-radius: 5px;
  color: #ffffff !important;
  background-color: #3a557c;
}

#messages_link a {
  text-decoration: none;
  color: #3a557c;
  height: 35px;
  display: flex;
  align-items: center;
  margin-top: 0px !important;
  z-index: 100;
}

#messages_link a:hover {
  text-decoration: underline;
}

#new_message:hover {
  text-decoration: none !important;
}

#messages_content {
  position: absolute;
  top: 100px;
  bottom: 170px;
  left: 50%;
  width: 60%;
  transform: translateX(-50%);
  border-radius: 20px;
  background-color: #f1f4f7;
  justify-items: center;
  box-shadow: rgb(0 0 0 / 25%) 0px 26px 30px -10px,
    rgb(0 0 0 / 50%) 0px 16px 10px -10px;
  overflow-y: hidden;
}

#messages_content ul {
  margin: 0;
}

.messages_list {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.message {
  position: relative;
  width: 90%;
  height: 20px;
  left: 50%;
  margin: 25px 0 25px 0;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.75);
  font-size: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.unread {
  font-weight: 700;
}

.head {
  width: 110%;
  justify-content: space-around;
  border: none;
  color: #000000;
  margin-bottom: -15px;
}

.message_date {
  letter-spacing: -1px;
  display: flex;
}

.message a {
  text-decoration: none;
  color: #3a557c;
}

.message a:hover {
  text-decoration: underline;
}

#message_subject_full {
  position: absolute;
  top: 140px;
  width: 100%;
  text-align: center;
  color: #3a557c;
  font-size: 16px;
  margin-bottom: 15px;
}

.message_body_full {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 175px;
  bottom: 25px;
  transform: translateX(-50%);
  text-align: justify;
  font-size: 12px;
  line-height: 18px;
  overflow-y: auto;
}

.messages_crud {
  position: relative;
  top: -4px;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  transition: 250ms all;
}

.messages_crud:hover {
  transform: scale(1.25);
}

.message_delete {
  width: inherit;
  height: inherit;
  pointer-events: none;
  font-family: "Comic Neue", cursive !important;
  outline: none;
  color: #b84040;
  font-weight: 700;
  font-size: 20px;
  background-color: transparent;
  border: none;
}

#messages_count {
  position: absolute;
  width: 100%;
  bottom: 5px;
  font-size: 12px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.new_message {
  position: relative;
  width: 90%;
  height: 20px;
  left: 50%;
  margin: 25px 0 25px 0;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgba(0, 0, 0, 0.75);
  font-size: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

#id_recipient {
  position: relative;
  height: 17px;
}

#id_subject {
  position: relative;
  left: 50%;
  width: 60%;
  height: 45px;
  margin: 15px 0 0 0;
  transform: translateX(-50%);
  text-indent: 25px;
  border-radius: 5px 5px 0 0;
  background-color: rgba(255, 255, 255, 0.5);
}

hr.inbox {
  position: relative;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
}

#body_container {
  position: absolute;
  left: 50%;
  width: 80%;
  top: 230px;
  bottom: 75px;
  margin: 25px 0 25px 0;
  border-radius: 10px;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.5);
}

#id_body {
  width: 90%;
  height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  resize: none;
  background-color: transparent;
}

#inbox_button {
  position: absolute;
  bottom: 20px;
  width: 200px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-family: "Share Tech Mono", monospace;
  letter-spacing: 3px;
  border-radius: 5px;
  background-color: rgba(58, 85, 124, 1);
  cursor: pointer;
}

@media (max-width: 850px) {
  #messages_link {
    font-size: 12px;
  }

  #new_message {
    width: 150px;
    font-size: 16px;
  }
}

@media (max-width: 750px) {
  #messages_link {
    font-size: 10px;
  }

  #messages_link a {
    margin: 10px 0 0 0;
  }

  #new_message {
    width: 125px;
    font-size: 14px;
  }

  #inbox_button {
    height: 40px;
    width: 160px;
    font-size: 18px;
  }
}

@media (max-width: 700px) {
  #messages_content {
    width: 80%;
  }

  #message_subject_full {
    font-size: 14px;
  }

  .message_body_full {
    font-size: 10px;
  }

  .messages_list * {
    font-size: 10px;
  }

  #messages_count {
    font-size: 10px;
  }

  .message_delete {
    font-size: 14px;
  }

  #new_message {
    height: 30px !important;
  }

  #inbox_button {
    height: 40px;
    width: 160px;
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  #messages_link {
    font-size: 8px;
  }

  #message_subject_full {
    top: 110px;
    font-size: 12px;
  }

  .message_body_full {
    top: 135px;
    font-size: 8px;
  }

  .messages_list {
    top: 30px;
  }

  .messages_list * {
    font-size: 8px;
  }

  #messages_count {
    font-size: 8px;
  }

  .message_delete {
    font-size: 12px;
  }

  .head {
    margin-bottom: -25px;
  }

  #new_message {
    height: 20px !important;
    width: 90px;
    font-size: 10px;
  }

  .new_message {
    font-size: 10px;
  }

  #id_recipient {
    font-size: 10px;
  }

  #id_subject {
    margin: 0;
    height: 30px;
    font-size: 12px;
  }

  #body_container {
    top: 175px;
    bottom: 55px;
  }

  #id_body {
    font-size: 12px;
  }

  #inbox_button {
    height: 30px;
    width: 140px;
    font-size: 16px;
  }
}
