* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(117, 153, 179, 0.1);
  background-size: 50%;
}

.alert {
  position: fixed;
  left: 50%;
  top: 120px;
  transform: translate(-50%, -50%);
  z-index: 99999;
}