#profile_wrapper {
  position: fixed;
  width: 100%;
  height: calc(100% - 100px);
  margin-top: 75px;
}

#profil_title {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: 10px;
  color: #3a557c;
  font-family: "Share Tech Mono", monospace;
}
