{% extends "index/index.html" %} 
{% load static %} 
{% block content %}

<div id="messages_wrapper">

    {% include 'index/search_bar.html' %}

        <div id="messages_content">
            <div id="messages_link">
                <a href="{% url 'new_message' %}" id="new_message">Nouveau message</a>
                <a href="{% url 'inbox' %}">Boite de réception</a>
                <a href="{% url 'outbox' %}">Messages envoyés</a>
            </div>
                <ul class="messages_list">
                    <li class="message head">
                        <span class="messages_header">De</span>
                        <span class="messages_header">À</span>
                        <span class="messages_header">Date</span>
                    </li>     
                    <li class="message">
                        <span class="message_sender">{{message.sender.first_name}} {{message.sender.last_name}}</span>
                        <span class="message_sender">{{message.recipient.first_name}} {{message.recipient.last_name}}</span>
                        <span class="message_date">{{message.created | date:"d-m-Y - H:i"}}</span>
                    </li>           
                </ul>

                <div id="message_subject_full">{{message.subject}}</div>
                <span class="message_body_full">{{message.body}}</span>
        </div>

    
</div>

{% endblock %}