{% extends "index/index.html" %} 
{% load static %} 
{% block content %}

<div id="messages_wrapper">

    {% include 'index/search_bar.html' %}

        <div id="messages_content">
            
            {% include 'inbox/inbox_navbar.html' %}

                <ul class="messages_list">
                    <li class="message head">
                        <span class="messages_header">À</span>
                        <span class="messages_header">Sujet</span>
                        <span class="messages_header">Date</span>
                    </li>
                {% for message in messageRequests %}

                <li class="message">
                    <span class="message_sender">{{message.recipient.first_name}} {{message.recipient.last_name}}</span>
                    <a href="{% url 'view_message' message.id %}">{{message.subject | slice:"40"}}</a>                    
                    <span class="message_date">{{message.created | date:"d-m-Y - H:i"}}
                        <a class="messages_crud" href="{% url 'delete_message' message.id %}"><button class="message_delete">X</button></a>
                    </span>
                </li>

                {% endfor %}
                </ul>

                <div id="messages_count">
                    
                    {% if messageCount < 2 %}
                    <span>Total: {{messageCount}} message</span>
                    {% else %}
                    <span>Total: {{messageCount}} messages</span>
                    {% endif %}                    

                </div>

        </div>

        {% include 'index/pagination.html' with queryset=messageRequests custom_range=custom_range %}
    
</div>

{% endblock %}