{% extends "index/index.html" %} 
{% load static %} 
{% block content %}

<div id="fiches_wrapper">

    {% include 'index/search_bar.html' %}

    <div id="fiches_content">

        <div class="fiches_wrap_c">
            <div id="icon_bg">✎</div>    
            <img id="thumb_bg" src="{% static 'images/doc-icon.png' %}">
            <a class="fiches_thumbnail" href="{% url 'devis_create' %}">
                <div class="fiches_customer_c">Ajout</div>                
            </a>     
        </div>

{% for devis in estimates %}

    <div class="fiches_wrap">

        {% if user.is_superuser %}
        <a class="fiches_crud" href="{% url 'devis_delete' devis.id %}"><button class="fiche_delete">X</button></a>
        {% endif %}

        <img id="thumb_bg" src="{% static 'images/doc-icon.png' %}">
        <a class="fiches_thumbnail" href="{% url 'devis_client' devis.id %}">
            <div class="fiches_customer">{{devis.estimate_number}}</div>
            <div class="fiches_created">{{devis.date|date:'d-m-Y'}}                
            </div>
        </a>     
    </div>

        {% endfor %}
        
    </div>

    {% include 'index/pagination.html' with queryset=estimates custom_range=custom_range %}
    {% include 'index/prompt.html' %}
    
</div>

{% endblock %}
